<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="ProjetoProgramacaoCET106" connectionString="Server=.\SQLEXPRESS;Database=ProjetoProgramacaoCET106;Trusted_Connection=True;TrustServerCertificate=True;" providerName="System.Data.SqlClient"/>
	</connectionStrings>
</configuration>